*{
}
.linkk{
color:#989898;
}

.linkk:hover{
color:BLACK;
}
.inline{
   display:inline-block;
}
.title1{
padding-left:4%;
padding-top:2.5%;
padding-bottom:2%;
}
.contact1{
margin-left:4%;
margin-top:2.5%;
margin-bottom:2%;
}
.inline {
   display:inline-block;
}
.circle-icon{
	padding:10px;
    color:white;width:40px;
	font-size:20px;
    border-radius: 100%;
	text-align:center;
}
.circle-icon:hover{
	box-shadow: 0 4px 8px 2px gray;
}